.right {
  width: 216px;
  height: 51.54px;
  margin-left: 220px;
  text-align: right;
}

.card {
  width: 346px;
  position: relative;
  display: inline-block;
  height: 131px;
  color: grey;
}

.add-cart {
  width: 147px;
  height: 48px;
  background-color: black;
  box-sizing: border-box;
  text-transform: uppercase;
  color: white;
}

.size {
  text-align: right;
  width: 88px;
  height: 125px;
  margin-left: 350px;
  padding-top: 50px;
  color: grey;
}

.display {
  display: inline-block;
  margin-left: 60px;
}

.text-title {
  font-size: 25px;
  position: relative;
  display: inline-block;
}

* {
  font-family: "Libre Franklin";
}

.image-box img {
  width: 535px;
  height: 738px;
}

.material {
  margin-left: 300px;
  font-size: 12px;
  text-align: right;
  color: grey;
}

.small-font {
  font-size: 10px;
}
.font-bold {
  font-weight: bold;
}

.small-weight {
  font-weight: 100;
}
.medium-weight {
  font-weight: 300;
}
.margin {
  margin-bottom: 5px;
  margin-top: 5px;
}

.font-large {
  font-size: 20px;
}
